/* BUTTON */
.button {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #bb000e;
  cursor: pointer;
}

.button-disabled,
.button:disabled {
  cursor: not-allowed;
}

.button-icon {
  margin-top: 1px;
}

/* INPUT */
.input {
  height: 25px;
  padding: 0rem 0.5rem;
  border-bottom: solid 1px #e31c25;
}

.input:focus {
  outline: none;
  border: solid 1px #e31c25;
}

.input-icon {
  font-size: 1rem;
  color: #999999;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  color: #1c1c1C;
}

.label-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

/* SELECT INPUT */
.select {
  height: 25px;
  padding: 0rem 0.5rem;
  text-transform: capitalize;
  border-bottom: solid 1px #e31c25;
  background-color: #2c2C2C;
  cursor: pointer;
}

.select:focus {
  outline: none;
}

.select-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.select-label {
  font-size: 1rem;
  color: #ffffff;
}

/* SEARCH BAR */
.search input {
  width: 500px;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: #2c2C2C;
}